.App {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffa7;
}
#container {
  width: 400px;
  background-color: #c198eb;
  padding: 20px;
  box-shadow: 0 4px 8px 0.1px rgba(0, 0, 0, 0.808);
}
input {
  width: 100%;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul {
  margin: 15px 0;
}
ul > li {
  margin-bottom: 5px;
  padding: 5px;
  background-color: #72479e;
  display: flex;
  justify-content: space-between;
}
ul > li > span {
  color: #ffffff;
}
.btn {
  display: flex;
  justify-content: flex-end;
  padding: 7px;
  margin-top: 10px;
  align-items: center;
  border: none;
  background-color: #72479e;
  color: #ffffe3;
}
.btn:hover {
  cursor: pointer;
}
input {
  display: flex;
  border: none;
  padding: 5px;
  margin-bottom: 5px;
  background-color: #ffffe3;
  box-sizing: border-box;
}
input:focus {
  outline: none;
}
h1,
h4,
p {
  color: #72479e;
}
hr {
  border-color: #c198eb;
}
